@model StudentskaSluzba2.App_Start.Potvrda_pripadnosti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Potvrda_pripadnosti</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
