@{
    ViewBag.Title = "Fakultet informacionih tehnologija";

}
<!--<div class="hero">
    <div class="hero-item cover" style="background-image: url(https://www.fsi.illinois.edu/spaces/img/computer_classroom1%20750x350.jpg)">-->
@*  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<!--</div>
</div>-->
<div class="container">
    <div class="box">
        <div class="imgBox">
            <img src="https://www.fsi.illinois.edu/spaces/img/computer_classroom1%20750x350.jpg" />
        </div>
    </div>
</div>

<style>
    .container .box {
        position: relative;
        width: auto;
        height: 350px;
        background-color: white;
        /*  margin:10px;*/
        /*box-sizing:border-box;*/
        /*    display: inline-block;*/
    }

        .container .box .imgBox {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
        }

            .container .box .imgBox img {
                transition: transform 2s;
            }

    img {
        object-fit: fill;
        width: 100%;
        height: 350px;
        background-position: center center;
        border-radius:5px;
    }

    .container .box:hover .imgBox img {
        transform: scale(1.1);
    }

    p {
        text-align: justify;
        font-family: Calibri;
        font-size: 20px;
    }

    #list1, #list2 {
        text-align: justify;
        font-family: Calibri;
        font-size: 20px;
    }

    h3, h2 {
        font-family: Calibri;
    }
</style>

<h2 style="color:darkred">@ViewBag.Title</h2>

<p>
    Fakultet informacionih tehnologija (FIT) osnovan je 1997. godine kao dvogodišnji Studij informatike, a 2003. godine je preregistrovan u Fakultet.
    FIT organizuje Bachelor (prvi ciklus) i Master (drugi ciklus) studij u oblasti informacionih tehnologija.
    Nastavni plan i program se realizuje u skladu sa principima Bolonjske deklaracije. Prvi ciklus se organizuje i realizuje na dva načina:
</p>

<ul>
    <li id="list1">klasični, tzv. in-class sistem</li>
    <li id="list2">sistem učenja na daljinu, tzv. DistanceLearning – DL</li>
</ul>
<p>
    FIT je institucija koja je prva uvela koncept studiranja na daljinu u Bosni i Hercegovini i ima vodeću ulogu u procesu implementacije i razvoja učenja na daljinu u našoj zemlji.
    Na Fakultetu postoje četiri kabineta sa preko stotinu računarskih mjesta i četiri laboratorije.
    Osim redovnih nastavnih aktivnosti, studenti i nastavno osoblje imaju mogućnost izvođenja različitih istraživanja u pomenutim kabinetima i laboratorijama.
</p>
<p>
    Fakultet također ima veoma uspješnu međunarodnu saradnju, u prvom redu sa univerzitetima u Austriji (FH Joanneum, Graz), Njemačkoj (Univerzitet u Paderbornu) i Španiji (Univerzitet u Lleidi), kao i sa univerzitetima u Bosni i Hercegovini i regionu.
    Ova saradnja podrazumijeva realizaciju brojnih aktivnosti kao što su razmjena nastavnika i studenata, realizacija zajedničkih naučno-istraživačkih projekata, učešće u seminarima i konferencijama, realizacija programa stručnog usavršavanja, kao i druge aktivnosti kojima je svrha intenziviranje akademske saradnje.
    FIT je učestvovao u velikom broju međunarodnih projekata, kao i projekata finansiranih iz državnih fondova.
</p>

<h3 style="color:darkred">Zašto upisati naš fakultet?</h3>
<p>
    Kvalitet i praktična relevantnost studijskog programa su potvrđeni činjenicom da je, prema podacima Zavoda za statistiku, 95% naših studenata zaposleno.
    IT sektor predstavlja područje koje se dinamično razvija i postoji stalna potreba za ovim kadrom u Bosni i Hercegovini i u svijetu.
    FIT provodi periodična istraživanja u cilju analize usklađenosti kvalifikacija i vještina predviđenih nastavnim planom i programom sa potrebama i zahtjevima tržišta i okruženja.
    FIT ima veoma dobru saradnju sa državnim, federalnim i kantonalnim ministarstvima koja djeluju u sektoru obrazovanja i IT-a, kao i sa regionalnim IT kompanijama.
</p>
<p>
    Fakultet kontinuirano radi na unapređenju kvaliteta svih aktivnosti: nastave, sadržaja nastavnog plana i programa, sistema ocjenjivanja, udžbenika i literature, opremljenosti učioničkog i drugog prostora,
    DL platforme, naučno-istraživačke djelatnosti, izdavačke djelatnosti, selekcije nastavnog kadra i administrativnog osoblja, bibliotečke djelatnosti, cjeloživotnog obrazovanja i drugih standarda.
</p>
<div>
    <br />
    <br />
</div>
<div>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.077440820771!2d18.39250261572775!3d43.854223547425974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c9226fcbf2c3%3A0xd068ac74a4ee2826!2sFaculty%20of%20Science!5e0!3m2!1sen!2sba!4v1618443032980!5m2!1sen!2sba" width="1150" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
</div>

