@{
    ViewBag.Title = "Kontakt";
}
<style>
    hr.new1 {
        border-top: 1px solid black;
    }
</style>

<h2 style="color:darkred">@ViewBag.Title</h2>
<hr class="new1" />
<br />
<br />
<h3 style="color:darkred">Fakultet informacionih tehnologiaj Sarajevo</h3>
<br />
<adress>
    <b>Adresa</b>:Zmaja od Bosne 33-35, 71000 Sarajevo, Bosna i Hercegovia<br />
    <b>Telefon:</b> <a href="tel:+38733222637">+387 33 222 637</a><br />
    <b>Email:</b> <a href="mailto:FIT.faks@edu.fit.ba">FIT.faks@edu.fit.ba</a>
</adress>
<br />
<hr />
<br />
<h3 style="color:darkred">Dekan</h3>
<p style="color:dimgray">Prof. dr. Asmir Bešlija</p>
<b>Email:</b><a href="mailto:dekan@edu.fit.ba">dekan@edu.fit.ba</a>
<h3 style="color:darkred">Ured dekana</h3>
<p style="color:dimgray">Tehnički sekretar:</p>
<b>Email:</b><a href="mailto:fit.fakultet@edu.fit.ba">fit.fakultet@edu.fit.ba</a>
<br />
<b>Telefon:</b> <a href="tel:+38733212997">+387 33 212 997</a>
<br />
<hr />
<br />
<h3 style="color:darkred">Studentska služba</h3>
<p style="color:dimgray">Minka Dedić<br />Indira Ahmetspahić</p>
<b>Email:</b><a href="mailto:esluzba@edu.fit.ba">esluzba@edu.fit.ba</a>
<br />
<b>Telefon:</b> <a href="tel:+38733839282">+387 33 839 282</a>
<br />
<hr />
<br />
<h3 style="color:darkred">Prodekan za naučno-istraživački rad</h3>
<b>Email:</b><a href="mailto:prodekan.nir@edu.fit.ba">prodekan.nir@edu.fit.ba</a>
<br />
<hr />
<br />
<h3 style="color:darkred">Tehnička podrška</h3>
<p style="color:dimgray">Office 365 servis | Microsoft Imagine | Domena </p>
<b>Email:</b><a href="mailto:tehnicka.podrska@edu.fit.ba">tehnicka.podrska@edu.fit.ba</a>
<br />
<b>Telefon:</b> <a href="tel:+38733575320">+387 33 575 320</a>

