@model StudentskaSluzba2.App_Start.Tip_Nastave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tip_Nastave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_tip }) |
    @Html.ActionLink("Back to List", "Index")
</p>
